<!DOCTYPE HTML>
<!--
	Lens by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Tony Nguyen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="lens_assets/assets/css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="lens_assets/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading-0 is-loading-1 is-loading-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1 style="text-decoration: underline;">Projects</h1>
						<h3>On this page, I share some of the projects and snippets of code that I've been working on. They are shared/hosted on a variety of different sites.</a></h3>

						<p style="font-size: 20px;"><a href="/">Back</a></p><hr>

						<ul class="icons">
						<li><a href="http://codepen.io/tonyn4444" class="icon fa-codepen" target="_blank"><span class="label">CodePen</span></a></li>
						<li><a href="https://github.com/tonyn4444" class="icon fa-github"  target="_blank"><span class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/tony-t-nguyen" class="icon fa-linkedin-square" target="_blank"><span class="label">Dribbble</span></a></li>
						<li><a href="mailto:tonytnguyen94@gmail.com"  class="icon fa-envelope-o" target="_blank"><span class="label">Email</span></a></li>
					</ul>
					<!-- <ul class="copyright">
						<li>&copy; Tony Nguyen</li><li> <a href="http://html5up.net"></a></li>
					</ul> -->
					</header>

					<style>
						article {
							background: white;
							margin: 0;
							padding: 0;
						}
					</style>

				<!-- Thumbnail -->
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="images/fulls/yelp-camp.png" data-position="left center"><img src="images/thumbs/yelp-camp.png" alt="" /></a>
							<a target="_blank" style="color: white" href="https://yelp-camp-x.herokuapp.com"><h1 style="text-decoration: underline;">YelpCamp</h1></a>
							<h3>RESTful application with full CRUD functionality. Users can sign-up, submit new campgrounds, add comments, and review campgrounds posted by other users. Creating with MEN stack (MongoDB, Express, Node.js) </h3>
						</article>
						<article>
							<a class="thumbnail" style="color: inherit" href="images/fulls/finance-go.png"><img src="images/thumbs/finance-go.png" alt="" /></a>
							<a target="_blank" style="color: white" href="https://finance-go.herokuapp.com/"><h1 style="text-decoration: underline;">Finance-Go</h1></a>
							<h3>Website that allows users to look up and track company stocks on the market. Users can also search for, add, and view profiles of their friends on the site. Created with Ruby on Rails, Devise for user authentication, and Yahoo's Finance API for stock data.</h3>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/patatap-clone.png"><img src="images/thumbs/patatap-clone.png" alt="" /></a>
							<a target="_blank" style="color: white" href="https://patatap-clone-xd.herokuapp.com/"><h2 style="text-decoration: underline;">Patatap Clone</h2></a>
							<h3>Generate sounds and animations on document canvas object by pressing keys on your keyboard. Utilizes Paper.js library and Howler library for animations and sounds.</h3>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/color-game.png"><img src="images/thumbs/color-game.png" alt="" /></a>
							<a target="_blank" style="color: white" href="http://codepen.io/tonyn4444/full/PpMVvj/"><h2 style="text-decoration: underline;">RGB Color Game</h2></a>
							<h3>Determine the correct color given a randomly generated mix of the colors red, green, and blue (RGB).</h3>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/weather_forecast_full.png" data-position="top center"><img src="images/thumbs/wiki.png" alt="" /></a>
							<a target="_blank" style="color: white" href="https://github.com/tonyn4444/weather-forecast-project"><h2 style="text-decoration: underline;">Weather Forecast Application</h2></a>
							<h3>Get a quick list of wikipedia articles and their summaries. Or, get a randomly generated article if you're feeling adventurous. Data retrieved from Wikipedia API and technologies used consists of the following: Express, Node.js, jQuery, HTML5/CSS3, Font-Awesome, & AJAX.</h3>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/youtube_search.png"><img src="images/thumbs/youtube_search.png" alt="" /></a>
							</a>
							<a target="_blank" style="color: white" href="https://github.com/tonyn4444/youtube-search-project"><h2 style="text-decoration: underline;">YouTube Search</h2></a>
							<h3>Requests data from YouTube API and renders via React.js components.</h3>
						</article>
						
						
						<article>
							<a class="thumbnail" href="images/fulls/newedenfaces.png"><img src="images/thumbs/newedenfaces.png" alt="" /></a>
							<a target="_blank" style="color: white" href="https://github.com/tonyn4444/new-eden-faces-practice"><h2 style="text-decoration: underline;">New Eden Faces</h2></a>
							<h3>Single-page application built using React + Flux, MongoDB, Socket.IO, and Node.js. The application retrieves data from a popular online game, and allows plays to vote for their favorite player's avatar.</h3>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/photo-gallery.png" data-position="top center"><img src="images/thumbs/photo-gallery.png" alt="" /></a>
							<a target="_blank" style="color: white" href="http://codepen.io/tonyn4444/pen/yMmJbd"><h2 style="text-decoration: underline;">The Image Gallery</h2></a>
							<h3>Layout for image display using Bootstrap.</h3>
						</article>
						
						<article>
							<a class="thumbnail" href="images/fulls/tribute.png"><img src="images/thumbs/tribute.png" alt="" /></a>
							<a target="_blank" style="color: white" href="http://codepen.io/tonyn4444/pen/PprmgQ"><h2 style="text-decoration: underline;">Free Code Camp Tribute Page Challenge</h2></a>
							<h3>Replicate a web page utilizing only regular HTML & CSS</h3>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/old-photo-gallery.png"><img src="images/thumbs/old-photo-gallery.png" alt="" /></a>
							<a target="_blank" style="color: white" href="http://codepen.io/tonyn4444/full/YZoMEg/"><h2 style="text-decoration: underline;">Photo Gallery</h2></a>
							<h3>Layout for image display without bootstrap.</h3>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/barID.png"><img src="images/thumbs/barID.png" alt="" /></a>
							<a target="_blank" style="color: white" href="https://github.com/tonyn4444/BarID"><h2 style="text-decoration: underline;">BarID</h2></a>
							<h3>Native mobile application created using React-Native/Redux </h3>
						</article>
						
						
						
						<article>
							<a class="thumbnail" href="images/fulls/yelp-camp2.png"><img src="images/thumbs/yelp-camp2.png" alt="" /></a>
							<a target="_blank" style="color: white" href="http://yelp-camp-x.herokuapp.com/campgrounds/58f4992505746f0011e97b4d"><h2 style="text-decoration: underline;">YelpCamp Show Page</h2></a>
							<h3>Page that displays extra information on a campground, allows users to add comments, and make edits to their submitted campgrounds. </h3>
						</article>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Tony Nguyen</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="lens_assets/assets/js/jquery.min.js"></script>
			<script src="lens_assets/assets/js/skel.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="lens_assets/assets/js/main.js"></script>

	</body>
</html>