<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tony Nguyen</title>

    <!-- Bootstrap core CSS -->
    <link href="full_portfolio_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="full_portfolio_assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="full_portfolio_assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="full_portfolio_assets/css/creative.min.css" rel="stylesheet">
    <link href="stylesheets/home.css" rel="stylesheet">
    <!-- Temporary navbar container fix -->
    <style>

    .img-fluid {
        padding: 10px;
        /*border: .5px solid grey;*/
    }

    #desc-container {
        margin-top: 35px;
    }
    .navbar-toggler {
        z-index: 1;
    }

    .desc {
        padding-left: 50px;
    }

    .empl {
        width: 100%;
        margin: 20px;
        border-radius: 5%;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#page-top">Tony Nguyen</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Employment/Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                   <!--  <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="animation-target">Hi, I'm Tony</h1>
                <hr>
                <!-- <p>I'm Tony</p> -->
                <a class="btn btn-primary btn-xl animation-target" href="#about">About Me</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading text-white">About</h2>
                    <hr class="light">
                    <p class="text-faded">I'm a self-taught software developer with a passion for coding. Outside of code, I love spending time outdoors with my dog, lifting, reading, and playing music! </p>
                    <!-- <a class="btn btn-default btn-xl sr-button" href="#services">Get Started!</a> -->
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container" id="desc-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="empl" src="images/fulls/morganstanley.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="desc">
                        <h3>Global Wealth Management Intern</h3>
                        <p>For a period of three months, I interned under Morgan Stanley's Vice President of Global Wealth Management in Sacramento. During my internship, I anaylzed various market sectors and then conducted stock pitches on the sectors and companies that I believed would perform best for a particular quarter. I learned how one of Morgan Stanley's top financial advisors approached portfolio management, retirement services, and how MS applied different investment strategies in order to minimize risk and raise capital for their clients.</p>
                    </div>
                </div>

                <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="empl" src="images/fulls/pls21.jpg">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="desc">
                        <h3>Applications of Computers and Technology</h3>
                        <p>One of my favorite experiences as a UC Davis undergraduate was working as a teaching assistant for a computer software course. As a teaching assistant, I developed my own lesson plans, managed other staff members, and taught in front of up to 50 students at a time. I'm so grateful that I had the opportunity to work as a teaching assistant because it really helped me overcome my fear of public speaking, consistently pushed me out of my comfort zone, and truly helped me grow as an individual.</p>
                    </div>
                </div>

                <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img style="padding-top: 40px;" class="empl" src="images/fulls/devbootcamp.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="desc">
                        <h3>Dev Bootcamp Graduate</h3>
                        <p>I gained and learned so many skills during my experience at DBC. The program really showed me how to approach programming problems effectively. It also improved my ability to research and anaylze problems through multiple approaches before finally determining which solution would be most optimal for the problem at hand. Through DBC, I learned the importance of applying best practices and programming conventions within the industry-- From utilizing proper git workflow, and appyling agile methodologies when collaborating in groups, to the importance of implementing a strong testing suite and being able to write code that other programmers could understand and contribute to. </p>
                    </div>
                </div>

                <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="empl" src="images/fulls/ucdavis2.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="desc">
                        <h3>University of California, Davis Graduate</h3>
                        <p>I'm sure everyone who attended college knows how difficult it can be when trying to effectively balance time between studying, working, all while trying to maintain a social life. These experiences really showed me the importance not taking anything for granted and making every second of the day count. My undergraduate experience at UC Davis had a huge impact on my life, and I'm truly grateful for being able to attend such an amazing school.</p>
                    </div>
                </div>
               
              
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="full_portfolio_assets/img/portfolio/fullsize/yelp-camp.png">
                        <img class="img-fluid" src="full_portfolio_assets/img/portfolio/thumbnails/yelp-camp.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <!-- Category -->
                                </div>
                                <div class="project-name">
                                    YelpCamp
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="full_portfolio_assets/img/portfolio/fullsize/finance-go.png">
                        <img class="img-fluid" src="full_portfolio_assets/img/portfolio/thumbnails/finance-go.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <!-- Category -->
                                </div>
                                <div class="project-name">
                                    Finance-Go
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="full_portfolio_assets/img/portfolio/fullsize/youtube_search.png">
                        <img class="img-fluid" src="full_portfolio_assets/img/portfolio/thumbnails/youtube_search.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <!-- Category -->
                                </div>
                                <div class="project-name">
                                    YouTube Search
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="full_portfolio_assets/img/portfolio/fullsize/weather_forecast_full.png">
                        <img class="img-fluid" src="full_portfolio_assets/img/portfolio/thumbnails/weather_forecast_full.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <!-- Catgeory -->
                                </div>
                                <div class="project-name">
                                    Weather Forecast App
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="full_portfolio_assets/img/portfolio/fullsize/photo-gallery.png">
                        <img class="img-fluid" src="full_portfolio_assets/img/portfolio/thumbnails/photo-gallery.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <!-- Category -->
                                </div>
                                <div class="project-name">
                                    Patatap-Clone
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="full_portfolio_assets/img/portfolio/fullsize/yelp-camp2.png">
                        <img class="img-fluid" src="full_portfolio_assets/img/portfolio/thumbnails/yelp-camp2.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <!-- Category -->
                                </div>
                                <div class="project-name">
                                    YelpCamp
                                </div>
                            </div>
                        </div>
                    </a>
                </div>            

            </div>
        </div>
    </section>

    <div class="call-to-action bg-dark" style="margin-top: 20px;">
        <div class="container text-center">
            <h2>For more information</h2>
            <a class="btn btn-default btn-xl sr-button" href="Tony Nguyen - Resume.pdf">My Resume</a>
        </div>
    </div>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Whether you're interesting in starting your next project, or an employer looking to hire, just shoot me a call or an email and I will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 offset-lg-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>707-360-7031</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:tonytnguyen94@gmail.com">tonytnguyen94@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="full_portfolio_assets/vendor/jquery/jquery.min.js"></script>
    <script src="full_portfolio_assets/vendor/tether/tether.min.js"></script>
    <script src="full_portfolio_assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="full_portfolio_assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="full_portfolio_assets/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="full_portfolio_assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="full_portfolio_assets/js/creative.min.js"></script>

</body>

</html>
