#index-nav {
  margin-right: -10px;
}

#hi {
  font-size: 27px !important;
}





section#two {
  margin-top: -75px !important;
}

.nav-link {
  color: white !important;
  font-size: 17px;
}

#home-nav {
  background-color: #283e4a;
}

.inactive {
	text-decoration: line-through;
}

.home-links {
  color: white !important;
  border-style: none;
}

.animation-target {
  -webkit-animation: animation 2000ms linear both;
  animation: animation 2000ms linear both;
}

.hideme
{
    opacity:0;
}

body {
	font-family: Raleway;
}

.project-link {
	color: dodgerblue;
	border: none;
	/*text-decoration: underline;*/
}
