#index-nav {
  margin-right: -10px;
}

section#one {
  margin-top: -100px !important;
}

.nav-link {
  color: white !important;
}

#home-nav {
  background-color: #283e4a;
}

.inactive {
	text-decoration: line-through;
}

.home-links {
  color: white !important;
  border-style: none;
}

.animation-target {
  -webkit-animation: animation 2000ms linear both;
  animation: animation 2000ms linear both;
}

.hideme
{
    opacity:0;
}

body {
	font-family: Raleway;
}

.project-link {
	color: #283e4a;
	border: none;
	/*text-decoration: underline;*/
}
