<!DOCTYPE html>
<html>
<head>
	<title>Weatherly Forecasting</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/reviewshare_styles.css">
</head>
<body>

<nav class="nav navbar-default" id="home-nav">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand home-links" href="/index">Tony Nguyen</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">

					
						<!-- <li><a href="/">Home</a></li> -->
						<li><a class="home-links" href="/">Projects</a></li>
						<li><a class="home-links" href="/index">About Me</a></li>
						<li><a class="home-links" href="/about">Education & Employment</a></li>
						<li><a class="home-links" href="/about_site">About Site</a></li>
						<!-- <li><a href="/logout">Contact</a></li> -->
					</ul>
				</div>
			</div>
		</nav>

	<div class="container">
		<div class="row">

		<div class="col-md-12 title">
			<em><h1>Weatherly Forecasting</h1></em>
			<span id="github"><a href="https://github.com/tonyn4444/weather-forecast-project" target="_blank">GitHub</a></span><span id="demo"><a target="_blank" href="https://weatherly-forecasting.herokuapp.com/">Demo</a></span>
			<hr>
		</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="thumbnail">
					<img src="/images/fulls/weather-app.png">
					<!-- <div class="caption"> -->
						<!-- <h4>Users/New (Registration Page)</h4> -->
					<!-- </div> -->
				</div>
			</div>
			<div class="col-md-4 desc">
			<h3>About This Project</h3>
				<ul>
					<li>
						Data retrieved from DarkSky weather API.
					</li>
					<li>
						Canvas animations/images from Skycons library.
					</li>
					<li>
						User's location retrieved with geolocation object and map rendered from GoogleMaps API.
					</li>
					<li>
						jQuery and AJAX used to make HTTP requests to API and manipulate DOM for a more fluid user experience.
					</li>
					<li>
						CSS3 / HTML5 for content and styling.
					</li>
				</ul>
			</div>
			</div>
			<hr>
	</div>

</body>
</html>